<!DOCTYPE html>
<html>
<head>
  <title>Contact Me</title>
  <link rel="stylesheet" type="text/css" href="/styles/contacts.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Me</a></li>
          <li><a href="/contacts">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="contact-section">
        <h1>Contact Me</h1>
        <div class="contact-links">
          <a href="https://t.me/bexadev" target="_blank"><img src="/images/telegram-logo.png" alt="Telegram"></a>
          <a href="https://www.facebook.com/profile.php?id=100079121393882" target="_blank"><img src="/images/facebook-logo.png" alt="Facebook"></a>
          <a href="https://twitter.com/Bexruz_T?t=HIWK5Vsq8wMTFmFUB-Uldg&s=09" target="_blank"><img src="/images/twitter-logo.png" alt="Twitter"></a>
        </div>
      </section>
    </main>
  </div>
</body>
</html>
