<!DOCTYPE html>
<html>
<head>
  <title>Node.js + Express Example</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <header>
        <nav>
            
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About me</a></li>
                <li><a href="/contacts">Contacs</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="profile">
            <img src="/images/rep.jpg" alt="My Photo">
            <p>Hello! I'm Bekhruz Tursunboev,<br> a passionate developer. Welcome to my personal website <br>where I share my thoughts and experiences.</p>
        </div>
         <div class="card">
          <div class="header">My Skills</div>
          <div class="body">
            <div class="skill">
              <div class="skill-name">HTML</div>
              <div class="skill-level">
                <div class="skill-percent" style="width: 95%"></div>
              </div>
              <div class="skill-percent-number">95%</div>
            </div>
            <div class="skill">
              <div class="skill-name">CSS</div>
              <div class="skill-level">
                <div class="skill-percent" style="width: 88%"></div>
              </div>
              <div class="skill-percent-number">88%</div>
            </div>
            <div class="skill">
              <div class="skill-name">JavaScript</div>
              <div class="skill-level">
                <div class="skill-percent" style="width: 75%"></div>
              </div>
              <div class="skill-percent-number">75%</div>
            </div>
            <div class="skill">
              <div class="skill-name">Node.js</div>
              <div class="skill-level">
                <div class="skill-percent" style="width: 50%"></div>
              </div>
              <div class="skill-percent-number">50%</div>
            </div>
            <div class="skill">
              <div class="skill-name">Python</div>
              <div class="skill-level">
                <div class="skill-percent" style="width: 60%"></div>
              </div>
              <div class="skill-percent-number">60%</div>
            </div>
            <div class="skill">
              <div class="skill-name">Graphic design</div>
              <div class="skill-level">
                <div class="skill-percent" style="width: 75%"></div>
              </div>
              <div class="skill-percent-number">75%</div>
            </div>
            <div class="skill">
              <div class="skill-name">C++</div>
              <div class="skill-level">
                <div class="skill-percent" style="width: 40%"></div>
              </div>
              <div class="skill-percent-number">40%</div>
            </div>
            <div class="skill">
              <div class="skill-name">Google App Script</div>
              <div class="skill-level">
                <div class="skill-percent" style="width: 70%"></div>
              </div>
              <div class="skill-percent-number">70%</div>
            </div>
            <div class="skill">
              <div class="skill-name">English</div>
              <div class="skill-level">
                <div class="skill-percent" style="width: 80%"></div>
              </div>
              <div class="skill-percent-number">80%</div>
            </div>
            <div class="skill">
              <div class="skill-name">Russian</div>
              <div class="skill-level">
                <div class="skill-percent" style="width: 90%"></div>
              </div>
              <div class="skill-percent-number">90%</div>
            </div>
          </div>
        </div>
    </main>
  </div>
  
  <a href="/journey" class="how-i-got-into-coding-link">
    <div class="how-i-got-into-coding-container">
      <img src="/images/boy.jpg" alt="Your Photo" class="profile-image">
      <div class="how-i-got-into-coding-content">
        <h2>How I Got Into Coding</h2>
        <p>Click to discover my coding journey!</p>
      </div>
    </div>
  </a>
  
  <a href="/pc-set-up" class="how-i-got-into-coding-link">
    <div class="how-i-got-into-coding-container" id="my-pc">
      <img src="/images/my-set-up.png" alt="Your Photo" class="profile-image">
      <div class="how-i-got-into-coding-content">
        <h2>My Pc Set Up🖥</h2>
        <p>Click to discover my pc set-up journey!</p>
      </div>
    </div>
  </a>
  
</body>
</html>
